button {
  padding         : $button-padding $button-padding-h;
  min-width       : $button-min-width;
  background-color: transparent;
  border          : 0;
  border-radius   : 4px;
  font-weight     : 700;
  text-transform  : uppercase;
  color           : $color-accent;
  text-align      : center;
  transition      : 0.125s cubic-bezier(0.4, 0, 0.2, 1);;
  cursor          : pointer;

  &:hover {
    background-color: $color-text-dark-4;
  }

  &:active {
    background-color: $color-text-dark-3;
  }

  &:focus {
    outline: none;
  }
}
