button {
  padding         : $button-padding $button-padding-h;
  min-width       : $button-min-width;
  background-color: transparent;
  border          : 0;
  border-radius   : 4px;
  font-weight     : 700;
  font-family     : $typography-base-font;
  text-transform  : uppercase;
  color           : $color-accent;
  text-align      : center;
  transition      : $transition-normal;
  cursor          : pointer;

  &:hover {
    background-color: $color-accent;
    color: $white;
  }

  &:active {
    background-color: $color-accent;
    color: $white;
  }

  &.primary {
    background-color: $color-primary-light;
    color           : $white;

    &:hover {
      background-color: lighten($color-primary-light, 12.5%);
      color           : $white;
    }
  }

  &.outline {
    background-color: $white;
    color           : $color-primary-light;
    border          : 1px solid lighten($color-primary-light, 12.5%);

    &:hover {
      background-color: $white;
      color           : lighten($color-primary-light, 12.5%);
      border-color    : lighten($color-primary-light, 25.5%);
    }
  }

  &.text {
    background-color: $white;
    color           : desaturate($color-primary-light, 50%);

    &:hover {
      background-color: darken($white, 6.25%);
      color           : darken(desaturate($color-primary-light, 50%), 6.25%);
    }
  }

  &.fixed-width {
    min-width: 96px;
  }

  &:focus {
    outline: none;
  }

  & + button {
    margin-left: 8px;
  }
}
