button {
  padding         : $button-padding $button-padding-h;
  min-width       : $button-min-width;
  background-color: transparent;
  border          : 0;
  border-radius   : 4px;
  font-weight     : 700;
  font-family     : $typography-base-font;
  text-transform  : uppercase;
  color           : $color-accent;
  text-align      : center;
  transition      : $transition-normal;
  cursor          : pointer;

  &:hover {
    background-color: $color-accent;
    color: $white;
  }

  &:active {
    background-color: $color-accent;
    color: $white;
  }

  &.primary {
    background-color: $color-primary-light;
    color           : $white;
    box-shadow      : $shadow-button;

    &:hover {
      background-color: lighten($color-primary-light, 12.5%);
      color           : $white;
      box-shadow      : $shadow-button-raised;
      transform       : translateY(-1px);
    }
  }

  &.outline {
    background-color: $white;
    color           : $color-primary-light;
    box-shadow      : $shadow-button;

    &:hover {
      background-color: $white;
      color           : lighten($color-primary-light, 12.5%);
      box-shadow      : $shadow-button-raised;
      transform       : translateY(-1px);
    }
  }

  &:focus {
    outline: none;
  }

  & + button {
    margin-left: 8px;
  }
}
