.card {
  box-shadow   : 0px 1px 2px 0px rgba(0,0,0,.42), 0px 2px 8px 0px rgba(0,0,0,.11);
  border-radius: 4px;
  overflow     : hidden;
  max-width    : 100%;
  margin       : $card-margin auto;

  .title {
    padding        : $card-padding $card-padding-h;
    background     : no-repeat center center / cover;
    width          : 100%;
    max-width      : 100%;
    display        : flex;
    justify-content: space-between;
    align-items    : flex-end;
    color          : $color-text-light-1;

    h1, h2, h3, h4, h5, h6 {
      font-weight: 300;
      margin     : 0;
    }

    .info {
      font-weight: 700;
      font-size  : 1.5rem;
      color      : $color-text-light-1;
    }
  }

  .body, .bar {
    padding         : $card-padding $card-padding-h;
    background-color: $white;
    color           : $color-text-dark-1;
  }

  .bar {
    border      : 1px $color-text-dark-4;
    border-style: solid none;
  }

  &.sm {
    .title {
      height: $card-sm-size * 2 / 3;
    }
  }

  &.md {
    .title {
      height: $card-md-size * 2 / 3;
    }
  }

  &.lg {
    .title {
      height: $card-lg-size * 2 / 3;
    }
  }

  &.square {
    &.sm {
      width: $card-sm-size;
    }

    &.md {
      width: $card-md-size;
    }

    &.lg {
      width: $card-lg-size;
    }
  }
}
