footer {
  background-color: $color-text-dark-1;
  color           : $color-text-light-2;

  @media (min-width: $grid-sm-breakpoint) and (max-width: $grid-md-breakpoint - 1px){
    font-size: $typography-base-size;
  }

  @media (min-width: $grid-md-breakpoint) and (max-width: $grid-lg-breakpoint - 1px){
    font-size: $typography-base-size * 13 / 12;
  }

  @media (min-width: $grid-lg-breakpoint){
    font-size: $typography-base-size * 7 / 6;
  }

  ul {
    list-style: none;

    a {
      color: $color-text-light-2;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $color-text-light-1;
  }
}
