.container {
  width : 100%;
  margin: auto;

  @media (min-width: $grid-sm-breakpoint) {
    max-width: $grid-sm-breakpoint * 15 / 16;
  }

  @media (min-width: $grid-md-breakpoint) {
    max-width: $grid-md-breakpoint * 15 / 16;
  }

  @media (min-width: $grid-lg-breakpoint) {
    max-width: $grid-lg-breakpoint * 15 / 16;
  }
}

.padded {
  padding: 8px;
}

@mixin col-list($columns, $prefix) {
  @for $i from 1 through $columns {
    &.#{$prefix}-#{$i} {
      width: $i / $columns * 100%;
    }
  }
}

.grid {
  width: 100%;
  &:after {
    content: "";
    display: block;
    clear  : both;
  }

  &>.col {
    float    : left;
    width    : 100%;
    max-width: 100%;
    padding  : $grid-vertical-padding $grid-gutter-padding;

    @include col-list(24, 'xs');

    @media (min-width: $grid-sm-breakpoint) {
      @include col-list(24, 'sm');
    }

    @media (min-width: $grid-md-breakpoint) {
      @include col-list(24, 'md');
    }

    @media (min-width: $grid-lg-breakpoint) {
      @include col-list(24, 'lg');
    }
  }

  &.strict {
    &>.col {
      padding: 0;
    }
  }

  &.flex {
    display: flex;
    align-items: center;
  }
}
