// Grid //
$grid-sm-breakpoint   : 512px !default;
$grid-md-breakpoint   : $grid-sm-breakpoint * 1.5 !default;
$grid-lg-breakpoint   : $grid-md-breakpoint * 1.5 !default;
$grid-gutter-padding  : 8px !default;
$grid-vertical-padding: 8px !default;

// Typography //
$typography-base-size: 12px !default;

// Card //
$card-sm-size: 256px !default;
$card-md-size: $card-sm-size * 1.5 !default;
$card-lg-size: $card-md-size * 1.5 !default;
$card-padding: 16px !default;
$card-margin : 16px !default;
