// Grid //
$grid-sm-breakpoint   : 512px !default;
$grid-md-breakpoint   : $grid-sm-breakpoint * 1.5 !default;
$grid-lg-breakpoint   : $grid-md-breakpoint * 1.5 !default;
$grid-gutter-padding  : 8px !default;
$grid-vertical-padding: 8px !default;

// Typography //
$typography-base-size: 12px !default;

// Card //
$card-sm-size: 256px !default;
$card-md-size: $card-sm-size * 1.5 !default;
$card-lg-size: $card-md-size * 1.5 !default;
$card-padding: 16px !default;
$card-margin : 16px !default;

// Color //
$color-primary-light  : #DCEDFF !default;
$color-primary-dark   : #3B424F !default;
$color-accent         : #A86D76 !default;
$color-secondary-light: #363636 !default;
$color-secondary-dark : #070707 !default;
$background           : #FCFAFA !default;
$black                : #000000 !default;
$white                : #FFFFFF !default;

$color-text-dark-1: rgba($black, 0.87) !default; // primary
$color-text-dark-2: rgba($black, 0.54) !default; // secondary
$color-text-dark-3: rgba($black, 0.38) !default; // disabled/hint/icons
$color-text-dark-4: rgba($black, 0.12) !default; // dividers

$color-text-light-1: rgba($white, 1) !default; // primary
$color-text-light-2: rgba($white, 0.7) !default; // secondary
$color-text-light-3: rgba($white, 0.5) !default; // disabled/hint/icons
$color-text-light-4: rgba($white, 0.12) !default; // dividers

$color-grey-900: #212121;
$color-grey-800: #424242;
$color-grey-300: #E0E0E0;
$color-grey-100: #F5F5F5;
$color-grey-50 : #FAFAFA;
